@media screen and (max-width: 768px) {
  .menu {
    width: fit-content;
    padding: 5px 20px;
    display: none;
    flex-direction: column;
    transition: right 0.3s ease;
    position: absolute;
    color: rgb(237, 81, 81);
    width: fit-content;
    top: 61px;
    right: 0;
    width: 100%;
    text-align: left;
    background-color: antiquewhite;
    border-bottom: 1px solid  rgb(237, 81, 81);
  }
}
